@charset "utf-8";
body {
    background-color: beige;
    margin: 0;
    overflow: hidden;
}

.screen {
    position: relative;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 166vw;
    padding: 1%;
}

.textArea {
    font-size: small;
    width: 95%;
}

.message {
    background-color: black;
    color: white;
    font-size: small;
    width: 95%;
    padding-left: 5px;
    padding-right: 5px;
}

.sendButton {
    font-size: large;
    margin-top: 1%;
    margin-bottom: 1%;
}


/* PC用
 ブラウザを小さくして開発しやすくするため、一般的なブレークポイントよりはやや小さめ */

@media screen and (min-width: 500px) {
    body {
        background-color: beige;
    }
    .screen {
        position: relative;
        overflow: hidden;
        top: 0px;
        left: 0px;
        width: 60vh;
        height: 100vh;
        padding: 1%;
    }
    .textArea {
        font-size: medium;
        width: 95%;
    }
    .message {
        background-color: black;
        color: white;
        font-size: medium;
        width: 95%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .sendButton {
        font-size: medium;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}