<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>sample_app01</title>
    <link rel="stylesheet" type="text/css" href="./static/common.css">
</head>

<body>
    <script type="text/javascript">
        function scrollTextArea(targertID) {
            const target = document.getElementById(targertID);
            target.scrollTop = target.scrollHeight;
        }
    </script>
    <h1>サンプルアプリ01</h1>
    <div class="screen">
        <audio autoplay src="./static/{{sound}}.wav"></audio>
        <div style="text-align: center;">
            <img src="./static/{{face}}.png" style="width: 60%; " />
        </div>
        <h2>PCからのメッセージ</h2>
        <div class="message">
            <p>{{pc_message}}</p>
        </div>
        <h2>ユーザの入力</h2>
        <form action="/" method="POST" enctype="multipart/form-data">
            <input type="text" id="user_message" name="user_message" placeholder="入力" class="textArea" /><br />
            <input type="submit" class="sendButton" value="実行する" />
        </form>
        <p>質問応答の履歴 <button onclick="javasctipt:scrollTextArea('history')">最下段を表示</button></p>
        <textarea rows="10" id="history" class="textArea">{{history}}</textarea>
        <p>デバッグテキスト <button onclick="javasctipt:scrollTextArea('debug_text')">最下段を表示</button></p>
        <textarea rows="5" id="debug_text" class="textArea">{{debug_text}}</textarea>
    </div>
</body>

</html>
